<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
	<style>
	body{
			background-image: url(https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
		}
		input{
			margin-top:20px;
			height: 30px;
			width: 150px;
			border-radius: 5px;
			
		}
		input[type="submit"]{
			background-color: rgba(7, 179, 185, 0.753);
			color: rgb(255, 255, 255);
			border: none;
			border-radius: 5px;
		}

	</style>
</head>
<body>

<form action="/postsignUp/" method="post">
	{% csrf_token %}
	<br/>
	<h1>Sign Up</h1>
	

<p>Please fill in this form</p>


	<label for="username">Username</label>
	<input type="name" id="Username" name="name" placeholder="Your Name"><br><br>
	<!-- Email: -->
	<label for="Email" >Email</label>
	<input type="email" id="Email" name="email" placeholder="Your Email Id"><br><br>
	<!-- Password: -->
	<label for="Password">Password/label>
	<input type="password" id="Password" name="pass" placeholder="Password"><br><br>
	<!-- RepeatPassword: -->
	<label for="confirm_password">Confirm Password</label>
	<input type="password" id="confirm_password" name="pass-repeat" placeholder=" Repeat Password"><br><br>
	<label>
	<input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
	</label>
	
	<input type="submit" value="SignUp"><br><br>

</form>
</body>
</html>
